// SPDX-License-Identifier: (GPL-2.0+ OR MIT)
/*
 * Copyright (C) 2022 Enclustra GmbH
 * <info@enclustra.com>
 */

#include "microchip-mpfs.dtsi"

/* Clock frequency (in Hz) of the rtcclk */
#define RTCCLK_FREQ		1000000

/ {
	compatible = "microchip,mpfs";

	aliases {
		mmuart1 = &mmuart1;
		ethernet0 = &mac1;
		ethernet1 = &mac0;
		i2c0 = &i2c0;
		i2c1 = &i2c1;
		spi0 = &qspi;
	};

	chosen {
		stdout-path = "mmuart1:115200n8";
	};

	cpus {
		timebase-frequency = <RTCCLK_FREQ>;
	};

	/* Not that label is called uart1 in U-Boot devicetree
	   but mmuart1 in kernel devicetree */
	soc {
		mmuart1: serial@20100000 {
			status = "okay";
		};
	};
};

&qspi {
	status = "okay";
	flash@0 {
		#address-cells = <0x1>;
		#size-cells = <0x1>;
		compatible = "s25fl512s";
		reg = <0x0>;
		partition@full {
			label = "full";
			reg = <0x0 0x4000000>;
		};
	};
};

&mmc {
	status = "okay";

	bus-width = <4>;
	disable-wp;
	no-1-8-v;
	cap-mmc-highspeed;
	cap-sd-highspeed;
	card-detect-delay = <200>;
};

/* FPGA Fabric I2C - this I2C bus is connected to the MSS I2C bus on hardware */
&i2c0 {
	status = "okay";
	clock-frequency = <400000>;
};

/* MSS I2C */
&i2c1 {
	status = "okay";
	clock-frequency = <100000>;

	u1800: atsha204a@64 {
		status = "okay";
		compatible = "atmel,atsha204a";
		reg = <0x64>;
	};

	u1802: isl12022@6f {
		status = "okay";
		compatible = "isil,isl12022";
		reg = <0x6f>;
	};
};

&mac0 {
	status = "okay";
	/delete-property/ mac-address;
	/delete-property/ local-mac-address;
	phy-mode = "sgmii";
	phy-handle = <&phy0>;
};

&mac1 {
	status = "okay";
	/delete-property/ mac-address;
	/delete-property/ local-mac-address;
	phy-mode = "sgmii";
	phy-handle = <&phy3>;

	phy0: ethernet-phy@0 {
		reg = <0>;
	};
	phy3: ethernet-phy@3 {
		reg = <3>;
	};
};

&usb {
	dr_mode = "host";
	status = "okay";
};

&gpio0 {
	status = "okay";
	ngpios = <14>;
	interrupts =   <PLIC_INT_GPIO0_BIT0_OR_GPIO2_BIT0
			PLIC_INT_GPIO0_BIT1_OR_GPIO2_BIT1
			PLIC_INT_GPIO0_BIT2_OR_GPIO2_BIT2
			PLIC_INT_GPIO0_BIT3_OR_GPIO2_BIT3
			PLIC_INT_GPIO0_BIT4_OR_GPIO2_BIT4
			PLIC_INT_GPIO0_BIT5_OR_GPIO2_BIT5
			PLIC_INT_GPIO0_BIT6_OR_GPIO2_BIT6
			PLIC_INT_GPIO0_BIT7_OR_GPIO2_BIT7
			PLIC_INT_GPIO0_BIT8_OR_GPIO2_BIT8
			PLIC_INT_GPIO0_BIT9_OR_GPIO2_BIT9
			PLIC_INT_GPIO0_BIT10_OR_GPIO2_BIT10
			PLIC_INT_GPIO0_BIT11_OR_GPIO2_BIT11
			PLIC_INT_GPIO0_BIT12_OR_GPIO2_BIT12
			PLIC_INT_GPIO0_BIT13_OR_GPIO2_BIT13>;
};

&gpio1 {
	status = "okay";
	ngpios = <24>;
	interrupts =   <PLIC_INT_GPIO1_BIT0_OR_GPIO2_BIT14
			PLIC_INT_GPIO1_BIT1_OR_GPIO2_BIT15
			PLIC_INT_GPIO1_BIT2_OR_GPIO2_BIT16
			PLIC_INT_GPIO1_BIT3_OR_GPIO2_BIT17
			PLIC_INT_GPIO1_BIT4_OR_GPIO2_BIT18
			PLIC_INT_GPIO1_BIT5_OR_GPIO2_BIT19
			PLIC_INT_GPIO1_BIT6_OR_GPIO2_BIT20
			PLIC_INT_GPIO1_BIT7_OR_GPIO2_BIT21
			PLIC_INT_GPIO1_BIT8_OR_GPIO2_BIT22
			PLIC_INT_GPIO1_BIT9_OR_GPIO2_BIT23
			PLIC_INT_GPIO1_BIT10_OR_GPIO2_BIT24
			PLIC_INT_GPIO1_BIT11_OR_GPIO2_BIT25
			PLIC_INT_GPIO1_BIT12_OR_GPIO2_BIT26
			PLIC_INT_GPIO1_BIT13_OR_GPIO2_BIT27
			PLIC_INT_GPIO1_BIT14_OR_GPIO2_BIT28
			PLIC_INT_GPIO1_BIT15_OR_GPIO2_BIT29
			PLIC_INT_GPIO1_BIT16_OR_GPIO2_BIT30
			PLIC_INT_GPIO1_BIT17_OR_GPIO2_BIT31
			PLIC_INT_GPIO1_BIT18
			PLIC_INT_GPIO1_BIT19
			PLIC_INT_GPIO1_BIT20
			PLIC_INT_GPIO1_BIT21
			PLIC_INT_GPIO1_BIT22
			PLIC_INT_GPIO1_BIT23>;
};
